@charset "UTF-8";

@font-face {
    font-family: 'Playstation';
    src: url('fontes/PlayGreatBold-8MgEZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #DF0024;
    --cor1: #F3C300;
    --cor2: #00AC9F;
    --cor3: #2E6DB4;
    --cor4: #0070d165;
    --cor5: #0552A4;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-playstation: 'Playstation';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, #00DAF9, #002E8A);
    padding-top: 100px;
    min-height: 250px;
    text-align: center;
}

header > h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    margin-bottom: 20px;
    text-shadow: 5px 8px 10px white;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
    color: white;
}

nav {
    background-color:black;
    padding: 14px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
}

nav > a {
    color:black;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 10px;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.644);
    padding: 10px;
}

nav a#home {
    color: white;
}

nav a#consoles {
    color: var(--cor0);
}

nav a#jogos {
    color: var(--cor1);
}

nav a#servicos {
    color: var(--cor2);
}

nav a#controles {
    color: var(--cor3);
}

main img {
    width: 50%;
    margin:auto;
    display: block;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    max-width: 1000px;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main h1 {
    font-weight: bold;
    font-size: 2em;
    padding: 20px;
}

main h2 {
    font-size: 1.5em;
    padding: 12px;
}

main h3 {
    font-size: 1.2em;
    padding: 10px;
}

main p {
    padding: 10px;
    text-indent: 18px;
    margin: 10px;
    text-align: justify;
}

#linkconsole {
    color: var(--cor0);
    background-color: black;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
}

#linkjogos {
    color: var(--cor1);
    background-color: black;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
}

#linkservicos {
    color: var(--cor2);
    background-color: black;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
}

#linkcontroles {
    color: var(--cor3);
    background-color: black;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
}

article > h3 {
    margin-left: 10px;
}

article > h4 {
    margin-left: 30px;
    
}

aside {
    background-color: var(--cor3);
    color: white;
    padding: 15px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
}

aside > h3 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: -15px -15px 0px -15px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}

aside > ul > li {
    padding: 10px;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: var(--cor3) 
}

